<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="/static/styles/bulma/css/bulma.css">
    <link rel="stylesheet" href="/static/styles/Fork-Awesome-1.1.7/css/fork-awesome.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Menev.al</title>
</head>

{% block content %}{% endblock %}
</html>