{% extends "base.j2" %}
{% block content %}
<div class="container is-max-desktop">
    <div class="columns">
        <div class="column p-4 ml-5">
            <a href="/">
                <span class="logo">Menev<strong class="is-family-secondary big-dot">.</strong>al</span>
            </a>
        </div>
        <div class="column is-three-fifths">
        </div>
    </div>
    <section class="section">
        <h1 class="title">Welcome</h1>
        <div class="block">My name is <strong>Martin Meneval</strong>, welcome to my little corner of the
            Internet. Over time, I aim to add to this website, and make it a place where I can showcase my
            work, and what makes me, me.
        </div>
    </section>
    <section class="section">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Resume</h1>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <a href="/dl_resume" class="button is-primary p-3">
                    <span class="icon"><i class="fa fa-file-pdf-o has-text-weight-bold"></i></span><span>Download as
                        PDF</span>
                </a>
            </div>
        </nav>
        <div id="resume">{% include 'resume.j2' %}</div>
    </section>
    <section class="section">
        <h1 class="title">More about me</h1>
        <div class="block">
            I've tried to showcase my skills and experience as best I can in my resume, although it's impossible to
            fully cover who I am and what I can do in a single page.
        </div>
        <div class="block">
            While I am a specialist, the nature of my work means I have to be a generalist as well. Thus, I dabble in a
            lot of different domains in my spare time, including graphic design / UI.
        </div>
        <div class="block">
            For this resume, for example, I've tried to emulate the style of handmade dinner plates, from my love of
            cooking. I've therefore chosen a speckled off-white background, a terracotta accent color, and a font that,
            while very legible, has a slight freehand feel to it.
        </div>
        <div class="block">
            Recently, I've also made my own Visual Studio Code theme, which you can find on <a
                href="https://marketplace.visualstudio.com/items?itemName=martinmeneval.m1okai">the VSCode
                Marketplace</a>.
        </div>
        <div class="block">
            If you want to get in touch, please feel free to reach out on <a href="https://menev.al/li">LinkedIn</a>!
        </div>
    </section>
    <section class="section">
        <h1 class="title">About this website</h1>
        <div class="block">While I love learning new skills, and deep-diving into fresh domains, I'm by and
            large not a web developer. I wanted to keep this personal home page as simple as possible, for ease
            of
            developement and maintenance.
        </div>
        <div class="block">As such, I'm using the <a href="https://bulma.io/">Bulma CSS framework</a>, and the website
            itself is running through
            a simple Flask app. The whole code can be found on my <a href="https://github.com/martinmeneval/homepage"
                >GitHub</a>.</div>
    </section>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Menev<strong>.</strong>al by Martin Meneval. The source code and website content
            are licensed
            <a href="http://opensource.org/licenses/mit-license.php" class="has-text-primary">MIT</a>.
        </p>
    </div>
</footer>
{% endblock %}
