{% extends "base.j2" %}
{% block content %}
<div class="container is-max-desktop">
    <div class="columns">
        <div class="column p-6">
            <a href="/">
                <img src="/static/logo.png" alt="Menev.al">
            </a>
        </div>
        <div class="column is-three-fifths">
        </div>
    </div>
    <section class="section">
        <h1 class="title">Welcome</h1>
        <div class="block">My name is <strong>Martin Meneval</strong>, welcome to my little corner of the
            Internet. There's currently not much here, beyond my resume, but I'll likely add a few things over time.
        </div>
    </section>
    <section class="section">
        <h1 class="title">Resume</h1>
        <div id="resume">{% include 'resume_raw.j2' %}</div>
        <div class="mt-3">
            <a href="/dl_resume" class="button is-primary p-4">
                <span class="icon"><i class="fa fa-file-pdf-o"></i></span><span>Grab this resume!</span>
            </a>
        </div>
    </section>
    <section class="section">
        <h1 class="title">About this website</h1>
        <div class="block">While I love learning new skills, and deep-diving into fresh domains, I'm by and
            large not a web developer. I wanted to keep this personal home page as simple as possible, for ease
            of
            developement and maintenance. As such, I gave myself the challenge to not make use of any
            Javascript.
        </div>
        <div class="block">As such, I'm using the Bulma CSS framework, and the website itself is running through
            a simple Flask app. The whole code can be found on my <a href="https://github.com/martinmeneval/homepage"
                class="has-text-primary">GitHub</a>.</div>
    </section>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Menev<strong class="has-text-primary">.</strong>al by Martin Meneval. The source code and website content are licensed
            <a href="http://opensource.org/licenses/mit-license.php" class="has-text-primary">MIT</a>.
        </p>
    </div>
</footer>
{% endblock %}
