{% block resume_raw %}
<div class="has-background-grey-lighter py-3">
    <div class="columns is-mobile pt-3 mx-3">
        <div class="column is-two-thirds"></div>
        <div class="column notification is-primary has-text-right">
            Curious IAM specialist looking for new challenges
        </div>
    </div>
    <section class="hero has-background-white">
        <div class="hero-body">
            <div class="columns is-mobile">
                <div class="column is-two-thirds my-2">
                    Martin Meneval<br>
                    Living in Amsterdam - Zuidoost<br>
                    <a href="mailto:martin.meneval@gmail.com" class="has-text-primary">martin.meneval@gmail.com</a>
                </div>
                <div class="column has-text-centered">
                    <a href="https://menev.al/li"><img src="/static/qrcode-li.png" alt="QRCode for my LinkedIn"
                            class="qrcode"></a>
                    <a href="https://menev.al/li" class="has-text-grey-dark">LinkedIn</a>
                </div>
                <div class="column has-text-centered">
                    <a href="https://menev.al/gh"><img src="/static/qrcode-gh.png" alt="QRCode for my GitHub"
                            class="qrcode"></a>
                    <a href="https://menev.al/gh" class="has-text-grey-dark">GitHub</a>
                </div>
                <div class="column has-text-centered">
                    <a href="https://menev.al/"><img src="/static/qrcode-home.png" alt="QRCode for this website"
                            class="qrcode"></a>
                    <a href="https://menev.al/" class="has-text-grey-dark">Website</a>
                </div>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor mx-2 my-2">
        <div class="tile is-parent is-4">
            <div class="tile is-vertical ">
                <div class="tile is-child box">
                    <h2 class="subtitle">Hard skills</h2>
                    <ul>
                        <li>Troubleshooting
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>IAM design & protocols
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>Python, Powershell
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>AWS, Terraform, K8s
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>UNIX, Windows
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>Jira, G Workspace
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li>JS, PHP, and more!
                            <span class="icon mr-2 is-pulled-right">
                                <i class="fa fa-star has-text-primary" aria-hidden="true"></i>
                                <i class="fa fa-star-half-empty has-text-primary" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Soft skills</h2>
                    <ul>
                        <li>Curious</li>
                        <li>Fast learner</li>
                        <li>Supportive teammate</li>
                        <li>Problem-solving focused</li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Languages</h2>
                    <ul>
                        <li>French - native</li>
                        <li>English - fluent</li>
                        <li>Spanish - beginner</li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">More about me</h2>
                    <ul>
                        <li>Computer tinkerer</li>
                        <li>Music geek</li>
                        <li>Tech enthusiast</li>
                        <li>Cook!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h2 class="subtitle">Work Experience</h2>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right has-text-primary mb-2" aria-hidden="true"></i></span>
                    <strong>IAM Specialist</strong>, <i>Picnic, Netherlands</i>, Nov 2022 to present
                    <ul class="mt-0 ml-5">
                        <li>Connecting dozens of SaaS and homemade apps together</li>
                        <li>Designing an entreprise-grade IAM solution</li>
                        <li>Setting up single sign-on and automating user provisioning</li>
                        <li>Handling user and process migrations</li>
                        <li>Identity management with Keycloak, AWS and Google Workspace</li>
                        <li>Do less, automate more!</li>
                    </ul>
                </div>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right has-text-primary mb-2" aria-hidden="true"></i></span>
                    <strong>Infrastructor/SRE</strong>, <i>Picnic, Netherlands</i>, Jan 2022 to Nov 2022
                    <ul class="mt-0 ml-5">
                        <li>Keeping Picnic running</li>
                        <li>Support of a large team of developers</li>
                        <li>Service orchestration with Kubernetes</li>
                        <li>Infrastructure-as-code with Terraform</li>
                        <li>Cloud-native on AWS</li>
                        <li>Always learning</li>
                    </ul>
                </div>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right has-text-primary mb-2" aria-hidden="true"></i></span>
                    <strong>SysAdmin</strong>, <i>Picnic, Netherlands</i>, Mar 2020 to Dec 2021
                    <ul class="mt-0 ml-5">
                        <li>"Sherlock Holmes" of IT: finding the what and why of every problem</li>
                        <li>JIRA, Google Workspace, Azure/Office admin, and so much more!</li>
                        <li>Process optimisation and automatisation with Python</li>
                        <li>Security-first advocate</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle">Education</h2>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right has-text-primary mb-2" aria-hidden="true"></i></span>
                    <strong>Master's degree, engineering</strong>, <i>INSA CVL, France</i>, 2015 to 2020
                    <ul class="mt-0 ml-5">
                        <li>Specialized in cybersecurity</li>
                        <li>Focus on IT Infrastructure, Administration and Auditing</li>
                        <li>Emphasis on: economy, law, strategy & business management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
