{% include 'base.j2' %}
<div class="has-background-grey-lighter py-3">
    <div class="columns is-mobile pt-3 mx-3">
        <div class="column is-two-thirds"></div>
        <div class="column notification is-accent has-text-right">Curious and driven sysadmin looking
            for people to help</div>
    </div>
    <section class="hero has-background-white">
        <div class="hero-body">
            <div class="columns is-mobile">
                <div class="column is-three-quarters my-2">
                    Martin Meneval <br>
                    Living in Amsterdam <br>
                    <a href="mailto:martin.meneval@gmail.com" class="accent">martin.meneval@gmail.com</a>
                </div>
                <div class="column has-text-centered">
                    <a href="/li" class="has-text-grey-dark">
                        <img src="/static/qrcode-li.png" alt="QRCode for my LinkedIn profile" class="qrcode">
                        LinkedIn
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a href="/" class="has-text-grey-dark">
                        <img src="/static/qrcode-home.png" alt="QRCode for this website" class="qrcode">
                        Website
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor mx-2 my-2">
        <div class="tile is-parent is-4">
            <div class="tile is-vertical ">
                <div class="tile is-child box">
                    <h2 class="subtitle">Hard skills</h2>
                    <ul>
                        <li>Windows<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></span></li>
                        <li>Troubleshooting<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></span></li>
                        <li>Python, Powershell<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></span></li>
                        <li>UNIX<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i></span></li>
                        <li>Jira, GSuite<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i></span></li>
                        <li>Networking & Security<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i></span></li>
                        <li>JS, PHP, and more!<span class="icon mr-2 is-pulled-right"><i class="fa fa-star"></i><i
                                    class="fa fa-star-half-empty"></i></span></li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Soft skills</h2>
                    <ul>
                        <li>Curious</li>
                        <li>Fast learner</li>
                        <li>Supportive teammate</li>
                        <li>Problem-solving focused</li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Languages</h2>
                    <ul>
                        <li>French - native</li>
                        <li>English - fluent</li>
                        <li>Spanish - beginner</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h2 class="subtitle">Work Experience</h2>
                <div class="block">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>System
                        Administrator</strong>, <i>Picnic, Netherlands</i>, Mars 2020 to present<br>
                    - "Sherlock Holmes" of IT: finding the what and why of every problem<br>
                    - JIRA, Google Workspace, Azure/Office admin<br>
                    - Python aficionado<br>
                    - Security by default, always
                </div>
                <div class="block">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>Full-stack
                        developer intern</strong>, <i>INSA CVL, France</i>, April to July 2019<br>
                    - Development and engineering of a RESTful web application<br>
                    - Focus on data security in an app built for medical professionals<br>
                    - Creation of a flexible and reliable way to provide access control<br>
                    - End-user experience tailoring through an AGILE-like structure<br>
                    - Preparing and handling successful deployments<br>
                    - Built with modularity in mind, to ease maintenance
                </div>
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle">Education</h2>
                - Development and engineering of a RESTful web application<br>
                - Focus on data security in an app built for medical professionals<br>
                - Creation of a flexible and reliable way to provide access control<br>
                - End-user experience tailoring through an AGILE-like structure<br>
                - Preparing and handling successful deployments<br>
                - Built with modularity in mind, to ease maintenance
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle">Hobbies</h2>
                - Development and engineering of a RESTful web application<br>
                - Focus on data security in an app built for medical professionals<br>
                - Creation of a flexible and reliable way to provide access control<br>
                - End-user experience tailoring through an AGILE-like structure<br>
                - Preparing and handling successful deployments<br>
                - Built with modularity in mind, to ease maintenance
            </div>
        </div>
    </div>
</div>