{% include 'base.j2' %}
<div class="has-background-grey-lighter py-3">
    <div class="columns is-mobile pt-3 mx-3">
        <div class="column is-two-thirds"></div>
        <div class="column notification is-accent has-text-right">Curious and driven sysadmin looking
            for people to help</div>
    </div>
    <section class="hero has-background-white">
        <div class="hero-body">
            <div class="columns is-mobile">
                <div class="column is-two-thirds my-2">
                    Martin Meneval<br>
                    Living in Amsterdam - Zuidoost<br>
                    <a href="mailto:martin.meneval@gmail.com" class="accent">martin.meneval@gmail.com</a>
                </div>
                <div class="column has-text-centered">
                    <a href="/li"><img src="/static/qrcode-li.png" alt="QRCode for my LinkedIn" class="qrcode"></a>
                    <a href="/li" class="has-text-grey-dark">LinkedIn</a>
                </div>
                <div class="column has-text-centered">
                    <a href="/gh"><img src="/static/qrcode-gh.png" alt="QRCode for my GitHub" class="qrcode"></a>
                    <a href="/gh" class="has-text-grey-dark">GitHub</a>
                </div>
                <div class="column has-text-centered">
                    <a href="/"><img src="/static/qrcode-home.png" alt="QRCode for this website" class="qrcode"></a>
                    <a href="/" class="has-text-grey-dark">Website</a>
                </div>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor mx-2 my-2">
        <div class="tile is-parent is-4">
            <div class="tile is-vertical ">
                <div class="tile is-child box">
                    <h2 class="subtitle">Hard skills</h2>
                    <ul>
                        <li>Windows<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i><i class="fa fa-star accent"></i></span></li>
                        <li>Troubleshooting<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i><i class="fa fa-star accent"></i></span></li>
                        <li>Python, Powershell<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i><i class="fa fa-star accent"></i></span></li>
                        <li>UNIX<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i></span></li>
                        <li>Jira, GSuite<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i></span></li>
                        <li>Networking & Security<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star accent"></i></span></li>
                        <li>JS, PHP, and more!<span class="icon mr-2 is-pulled-right"><i class="fa fa-star accent"></i><i
                                    class="fa fa-star-half-empty accent"></i></span></li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Soft skills</h2>
                    <ul>
                        <li>Curious</li>
                        <li>Fast learner</li>
                        <li>Supportive teammate</li>
                        <li>Problem-solving focused</li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">Languages</h2>
                    <ul>
                        <li>French - native</li>
                        <li>English - fluent</li>
                        <li>Spanish - beginner</li>
                    </ul>
                </div>
                <div class="tile is-child box">
                    <h2 class="subtitle">More about me</h2>
                    <ul>
                        <li>Computer tinkerer</li>
                        <li>Music geek</li>
                        <li>Tech enthusiast</li>
                        <li>Decent at cooking</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h2 class="subtitle">Work Experience</h2>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>System
                        Administrator</strong>, <i>Picnic, Netherlands</i>, Mars 2020 to present
                    <ul class="mt-0 ml-5">
                        <li>"Sherlock Holmes" of IT: finding the what and why of every problem</li>
                        <li>JIRA, Google Workspace, Azure/Office admin</li>
                        <li>Python aficionado</li>
                        <li>Security by default, always</li>
                    </ul>
                </div>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>Full-stack
                        developer intern</strong>, <i>INSA CVL, France</i>, April to July 2019
                    <ul class="mt-0 ml-5">
                        <li>Development and engineering of a RESTful web application</li>
                        <li>Focus on data security in an app built for medical professionals</li>
                        <li>Creation of a flexible and reliable way to provide access control</li>
                        <li>End-user experience tailoring through an AGILE-like structure</li>
                        <li>Preparing and handling successful deployments</li>
                        <li>Built with modularity in mind, to ease maintenance</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle">Education</h2>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>Master’s
                        degree
                        in engineering</strong>, <i>INSA CVL, France</i>, 2015 to 2020
                    <ul class="mt-0 ml-5">
                        <li>Specialized in cybersecurity</li>
                        <li>Focus on IT Infrastructure, Administration and Auditing</li>
                        <li>Emphasis on: economy, law, strategy & business management</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle">Notable projects</h2>
                <div class="content">
                    <span class="icon"><i
                            class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>Disabilities-themed escape
                        game</strong>
                    <ul class="mt-0 ml-5">
                        <li>Revolving around invisible disabilities at work</li>
                        <li>A story about hacking office computers, and glimpses of people's lives</li>
                        <li>Market study, legal research and prep for building a start-up</li>
                    </ul>
                </div>
                <div class="content">
                    <span class="icon"><i class="fa fa-chevron-circle-right accent mb-2"></i></span><strong>Automated
                        management of Saas app accounts</strong>
                    <ul class="mt-0 ml-5">
                        <li>Market reasearch and comaprison</li>
                        <li>Negociation and business-case building</li>
                        <li>Implementation, stakeholder management and maintenance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>